:root {
  /* PRIMARY COLOR */
  --primary: rgb(0, 77, 115);
  --primary-overlay: rgba(0, 77, 115, 0.75);
  /* ACCENT 1 COLOR */
  --accent-1-light-3: rgb(255, 135, 77);
  --accent-1-light-2: rgb(255, 118, 51);
  --accent-1-light-1: rgb(255, 101, 25);
  --accent-1: rgb(255, 84, 0);
  --accent-1-dark-1: rgb(230, 76, 0);
  --accent-1-dark-2: rgb(204, 67, 0);
  --accent-1-dark-3: rgb(179, 59, 0);
  /* ACCENT 2 COLOR */
  --accent-2-light-3: rgb(90, 181, 207);
  --accent-2-light-2: rgb(66, 170, 199);
  --accent-2-light-1: rgb(43, 160, 193);
  --accent-2: rgb(19, 149, 185);
  --accent-2-dark-1: rgb(17, 134, 167);
  --accent-2-dark-2: rgb(15, 119, 148);
  --accent-2-dark-3: rgb(13, 104, 130);
  /* MISCELLANEOUS COLORS */
  --white: rgb(255, 255, 255);
  --grey: rgb(200, 200, 200);
}

@font-face {
  font-family: "heading-font";
  src: url(assets/fonts/HeadingPro.ttf);
}

@font-face {
  font-family: "body-font";
  src: url(assets/fonts/SanFrancisco.otf);
}

@font-face {
  font-family: "digital-font";
  src: url(assets/fonts/Gameplay.ttf);
}

* {
  font-family: "body-font";
  font-size: 1.00rem !important;
}

main {
  background-color: var(--white);
  min-height: calc(100vh - 64px - 38px) !important;
}

.body {
  margin-bottom: 16px !important;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--primary);
  margin-top: 0;
  margin-bottom: 0;
}

footer p {
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  line-height: 1.1 !important;
  font-family: "heading-font" !important;
  text-transform: uppercase !important;
  color: var(--accent-1);
  margin: 0px !important;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.75rem !important;
}

h5 {
  font-size: 1.5rem !important;
}

.logout {
  color: rgb(255, 0, 0) !important;
  font-weight: bold;
}

.ui.grid {
  margin: 0px !important
}

.accent-1-text {
  color: var(--accent-1);
}

.accent-2-text {
  color: var(--accent-2);
}

.text-white {
  color: var(--white);
  margin-bottom: 0px !important;
}

.ui.inverted.menu {
  border-radius: 0px !important;
  box-shadow: none;
  margin-bottom: 0px;
  background-color: var(--primary) !important;
}

.ui.inverted.menu .accent-1.active.item, .ui.inverted.accent-1.menu {
  background-color: var(--accent-1);
}

/* .ui.inverted.menu .accent-2.active.item, .ui.inverted.accent-2.menu {
  background-color: var(--accent-2);
}

.ui.inverted.menu .active.item {
  background: var(--accent-2);
  color: var(--white) !important;
} */

.email {
  text-transform: lowercase !important;
}

.brand {
  font-size: 2rem !important;
  font-family: "heading-font" !important;
  width: 150px !important;
  padding: 16px !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--accent-1) !important;
  text-transform: uppercase !important;
}

.overlay-home {
  background-color: var(--primary-overlay);
  width: 100%;
  padding: 10rem 0rem;
}

.overlay-blue {
  background-color: var(--primary-overlay);
  width: 100%;
  padding: 7rem 0rem;
  margin-bottom: 24px;
}

.overlay-register, .overlay-login {
  background-color: var(--primary-overlay);
  width: 100%;
  min-height: calc(100vh - 64px - 38px) !important;
}

.masthead {
  background-color: var(--grey);
  width: 100%;
  text-align: center;
}

.masthead-home {
  background: url(assets/images/home-bg.jpg) !important;
  border-radius: 0px;
  background-position: 50% 155% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-team {
  background: url(assets/images/team.jpg) !important;
  border-radius: 0px;
  background-position: 50% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-eboard {
  background: url(assets/images/eboard.jpg) !important;
  border-radius: 0px;
  background-position: 50% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-about {
  background: url(assets/images/about.jpg) !important;
  border-radius: 0px;
  background-position: 75% 75% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-sponsors {
  background: url(assets/images/sponsors.jpg) !important;
  border-radius: 0px;
  background-position: 50% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.masthead-application {
  padding: 32px 0px 8px 0px;
  margin-bottom: 16px;
  text-align: left;
  background-color: var(--accent-2);
}

.masthead-quote {
  padding: 64px 0px;
  background-color: var(--accent-2);
}

.masthead-title {
  margin: 0px;
  font-size: 4rem !important;
}

.background-grey {
  background-color: var(--grey);
  padding: 8px !important;
  margin-bottom: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.fa-quote {
  color: var(--white);
  font-size: 3rem !important;
  padding: 0px 16px;
}

.text-home {
  padding: 4rem 4rem !important;
  color: var(--white) !important;
}

.image-home {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.image-profile {
  border: 1px;
  border-style: solid;
  border-color: var(--grey);
}

.who {
  background-color: var(--accent-1-light-3);
}

.mission {
  background-color: var(--accent-1-light-2);
}

.vision {
  background-color: var(--accent-1-light-1);
}

.no-padding {
  padding: 0px !important;
}

.sponsor-padding {
  padding: 0px 0px 24px 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.card-team, .card-points {
  padding: 8px !important;
}

.header {
  font-size: 1.5rem !important;
}

.register {
  background: url(assets/images/register.jpg) !important;
  border-radius: 0px;
  background-position: 50% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: calc(100vh - 65px - 41px);
}

.login {
  background: url(assets/images/login.jpg) !important;
  border-radius: 0px;
  background-position: 15% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: calc(100vh - 65px - 41px);
}

.title-bg-accent-1 {
  background-color: var(--accent-1) !important;
  padding: 16px 16px 0px 16px !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.segment-spacing {
  padding: 32px 0px !important;
  border: 0px !important;
}

.sponsor {
  border-style: solid !important;
  border-width: 3px !important;
  border-radius: 0px;
}

.bronze {
  border-color: rgb(163, 105, 47) !important;
}

.silver {
  border-color: rgb(215, 215, 215) !important;
}

.gold {
  border-color: rgb(255, 215, 0) !important;
}

.platinum {
  background: url(assets/images/sponsors/platinum-min.png);
}

.chevron {
  border-image-source: linear-gradient(0deg, rgb(227, 13, 25), rgb(25, 143, 204)) !important;
  border-image-slice: 1 !important;
}

.link-email, .link-team {
  overflow-wrap: break-word;
}

.link-email:hover, .link-team:hover {
  color: var(--accent-2) !important;
  text-decoration: none;
}

.ui.button {
  background: var(--accent-2);
  color: var(--white);
}

.ui.button:hover {
  background: var(--accent-2-dark-1);
  color: var(--white);
}

.ui.button:active {
  background: var(--accent-2-dark-2);
  color: var(--white);
}

.ui.button:focus {
  background: var(--accent-2);
  color: var(--white);
}

.ui.button.secondary {
  background: var(--accent-1);
  color: var(--white);
}

.ui.button.secondary:hover {
  background: var(--accent-1-dark-1);
  color: var(--white);
}

.ui.button.secondary:active {
  background: var(--accent-1-dark-2);
  color: var(--white);
}

.ui.button.secondary:focus {
  background: var(--accent-1);
  color: var(--white);
}

.points-number {
  font-family: "digital-font" !important;
  font-size: 5rem !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 0px !important;
  color: var(--white);
}

.points-header {
  font-family: "digital-font" !important;
  font-size: 1rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px !important;
  color: var(--white);
}

.redeem {
  background: rgb(63, 38, 99) !important;
  background: linear-gradient(135deg, rgba(63, 38, 99, 1) 25%, rgba(42, 145, 195, 1) 75%) !important;
}

.fall {
  background: rgb(124, 24, 47) !important;
  background: linear-gradient(135deg, rgba(124, 24, 47, 1) 25%, rgba(230, 55, 0, 1) 75%) !important;
}

.spring {
  background: rgb(0, 131, 116) !important;
  background: linear-gradient(135deg, rgba(0, 131, 116, 1) 25%, rgba(137, 186, 22, 1) 75%) !important;
}

.summer {
  background: rgb(255, 92, 0) !important;
  background: linear-gradient(135deg, rgba(255, 92, 0, 1) 25%, rgba(255, 222, 0, 1) 75%) !important;
}

.ui.tabular.menu .active.item {
  color: var(--accent-1);
}

th {
  text-transform: uppercase !important;
  color: var(--accent-2) !important;
}

.table-responsive {
  display: block;
  overflow-x: scroll;
}

.request-true {
  color: rgb(33, 186, 69);
}

.request-false {
  color: rgb(220, 42, 42);
}
